* {
  text-align: center;
}

body {
  margin: 40px;
  background: powderblue;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  background-color: #fff;
  color: #444;
  grid-template-areas:
  "a a"
  "b c"
  "d d"
  "e e"
  "f f";

}

.box {
  background-color: #FFFFFF;
  border-color: #000000;
  font-size: 150%;
  border: 1px solid black;
}

.a{
grid-area: a;
text-align: center;
}
.b{
grid-area: b;

}
.c{
grid-area: c;

}
.d{
grid-area: d;

}
.e{
grid-area: e;
position:relative;
height: 300px;
width: inherit;
}

.f{
grid-area: f;

}

#block {
  height: 25px;
  width: 25px;
  border: 5px solid green;
}
